<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-student-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sujets-test</ion-title>
  </ion-toolbar>
  <div class="card-back">
    <ion-button fill="clear" class="menu">
      <ion-icon slot="icon-only" name="menu" ></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="panier">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="container" >
    <ion-list>
      
      <!-- <ion-item *ngFor="let pdf of pdfs" >
        <h5 class="sujet">Francais 2021</h5>
        <ion-label>{{ pdf.name }}</ion-label>
        
        <ion-button (click)="openPDF('pdf.url')" target="_blank">Voir PDF</ion-button>
        
        
      </ion-item> -->
    </ion-list>
    
     <div class="box" *ngFor="let pdf of pdfs">
      <h5 class="sujet">{{ pdf.name }}</h5>
      <h6>{{ pdf.name }}</h6>
      <a href="{{ pdf.url }}" class="buy">Acheter</a>
      <p>3 000 Fcfa</p>
      <div class="circle"></div>
      <ion-img src="../../assets/icon/pdf1.png"  class="pdf" alt=""></ion-img>
  
  </div>
  <script src="../../assets/anime/vanilla-tilt.min.js"></script>
  <script>
    VanillaTilt.init(document.querySelectorAll(".box"), {
      max: 25,
      speed: 400
	});
  </script>
