<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="welcome"></ion-back-button>
      </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="content">
    <div class="login-div">
      <div class="logo">
        <img src="../../assets/images/all/logoProjet.png" alt="">
      </div>
      <div class="title">
        Welcome 💦!
      </div>
      <div class="sub-title">
        Sing In to Continue
      </div>
      <div class="form">
        <form action="">
          <div class="email">
             <ion-icon name="send"></ion-icon>
            <ion-input type="email" clear-input placeholder="Email" id="email">
            </ion-input>
          </div>
          <div class="password" >
            <ion-icon name="eye"></ion-icon>
            <ion-input type="password" clear-input placeholder="Password" id="password">
            </ion-input>
          </div>
        </form>
      </div>
      <ion-button shape="round" color="primary" (click)="sign_in()">Sing In</ion-button>
      <span>Create account ?<a (click)="sign_up()"> Sign Up</a></span>
    </div>
  </div>
</ion-content>
