*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
}

ion-content {
    --background: linear-gradient(45deg, #3f5efb, #f55505);
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        font-family: 'Arial', sans-serif;
        .container {
            position: relative;
            form {
                background: rgba(255, 255, 255, .3);
                padding: 1rem;
                height: 400px;
                border-radius: 20px;
                border-left: 1px solid rgba(255, 255, 255, .3);
                border-top: 1px solid rgba(255, 255, 255, .3);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                -moz-backdrop-filter: blur(10px);
                box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
                text-align: center;
                p {
                    color: white;
                    font-weight: 500;
                    font-family: 'Amperzand', sans-serif;
                    letter-spacing: 4px;
                    font-size: 1.4rem;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
                    opacity: 7;
                    margin-bottom: 25px;
                }
                ion-input {
                    --background: transparent;
                    border: none;
                    border-left: 1px solid rgba(255, 255, 255, .3);
                    border-top: 1px solid rgba(255, 255, 255, .3);
                    padding: 1rem;
                    width: 200px;
                    border-radius: 50px;
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    -moz-backdrop-filter: blur(5px);
                    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
                    color: white;
                    font-weight: 500;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
                    transition: all .3s;
                    margin-bottom: 12px;
                     ::placeholder {
                        color: white;
                        justify-content: center;
                        text-align: center;
                    }
                    &:hover,
                    &[type="text"]:focus,
                    &[type="password"]:focus {
                        --background: rgba(255, 255, 255, .1);
                        box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
                    }
                }
                ion-button {
                    cursor: pointer;
                    margin-top: 6px;
                    font-size: 1rem;
                    width: 150px;
                    font-weight: 700;
                    --background: rgba(255, 255, 255, .3);
                }
            }
            .ombre {
                background: rgba(255, 255, 255, .3);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                -moz-backdrop-filter: blur(10px);
                position: absolute;
                border-radius: 10px;
                border-left: 1px solid rgba(255, 255, 255, .3);
                border-top: 1px solid rgba(255, 255, 255, .3);
                box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .2);
            }
            .o1 {
                height: 50px;
                width: 50px;
                bottom: 1px;
                left: -20px;
                transform: rotateZ(45deg);
                z-index: -1;
            }
            .o2 {
                height: 80px;
                width: 80px;
                top: -40px;
                right: -8px;
                transform: rotateZ(60deg);
                z-index: -1;
            }
            .o3 {
                height: 50px;
                width: 100%;
                z-index: 1;
                bottom: -65px;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 14px;
                span {
                    color: rgba(255, 255, 255, .3);
                    cursor: pointer;
                    & a {
                        color: #f55505;
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
            }
            .o4 {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                right: 125px;
                bottom: 155px;
                z-index: -1;
            }
        }
    }
}